h1{
    color: rgba(0, 0, 255, 1);
    text-decoration: underline;
    background-color: gold;
}

h2{
    color: rgba(102, 46, 143, 1);
    font-weight: bold;
    font-size: 25px;
    border: 3px solid orange;
    
}

section{
    width: 50%;
    height: 200px;
    background-color: gray;
    border: 2px solid black; 
}

p{
    color: white;
}
footer{
    background-color: black;
    border: 2px solid lightgreen;
}

h3{
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}