/* Please Make only Rhino and Zebra Blue */
.fourLegs {
    color: blue;
}
.fourLegs.africa {
    color: blue;
}
#rhino,#zebra {
    color: blue;
}
/* Please Make only Hufflepuff Gold */
#bestHouse {
    color: gold;
}
/* Please select Duck with the highest level of specificity possible */
body article.areDucksDinosaurs h2.likesToQuack.fight1Or100 {
    color: brown !important;
}
/* Please select Rhino with the highest level of specificity possible */
#rhino {

}